<div class="row">
  <div class="col-xs-12">
    <app-spinner *ngIf="isLoading; else content"
                 style="position: relative; left: 50%; margin-left: -40px"></app-spinner>
    <ng-template #content>
      <h2 *ngIf="courses.length === 0">No favourite courses found :(</h2>
      <div class="panel panel-default col-xs-12" *ngFor="let course of courses">
        <div class="panel-heading">{{course.title}}</div>
        <div class="panel-body">
          Description: {{course.description}}
          <br>
          <!-- TODO: Extract this to separate component-->
          <app-course-rating [course]="course"></app-course-rating>

        </div>
        <div class="panel-footer">
          <button class="btn btn-default" (click)="removeFromFavourites(course.id)">Remove from favourites</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
