<div class="row">
  <div class="col-xs-12">
    <h1>Profile</h1>
    <app-spinner *ngIf="isLoading; else content"></app-spinner>
    <ng-template #content>
      <app-error [error]=" profileError"></app-error>
      <form [formGroup]="userInfoForm" (ngSubmit)="onUserInfoSubmit()">
        <h3>Change user info</h3>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control"
                 name="email"
                 id="email"
                 formControlName="email"
                 readonly>
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 name="name"
                 id="name"
                 formControlName="name">
        </div>

        <div class="form-group">
          <label for="familyName">Family Name</label>
          <input type="text"
                 class="form-control"
                 name="familyName"
                 id="familyName"
                 formControlName="familyName">
        </div>

        <button class="btn btn-success"
                type="submit"
                [disabled]="userInfoForm.invalid && userInfoForm.touched">Save</button>
      </form>

      <app-error [error]=" changePasswordError"></app-error>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
        <h3>Change password</h3>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 class="form-control"
                 name="password"
                 id="password"
                 formControlName="password">
        </div>

        <button class="btn btn-success"
                type="submit"
                [disabled]="changePasswordForm.invalid && changePasswordForm.touched">Save
        </button>
      </form>
    </ng-template>
  </div>
</div>
