<div class="row">
  <div class="col-xs-12">
    Rating: {{course.rating | courseRating}}
    <br>
    <form [formGroup]="courseRatingForm" (ngSubmit)="submitCourseRating()">
      <label for="rating" class="col-sm-4" style="padding: 0; margin-top: 10px">Current user rating: </label>
      <div class="col-sm-4" style="padding-left: 0; margin-top: 10px">
        <input
          type="number"
          id="rating"
          name="rating"
          class="form-control"
          formControlName="rating">
      </div>
      <button class="btn btn-success col-md-4" style="margin-top: 10px" type="submit">Add Rating</button>
    </form>
  </div>
</div>
